.table {
    width: 900px;
    border-collapse: collapse;
}

.table th {
    background-color: rgb(107, 184, 31);
    color: white;
}

.table td {

}

.table tr:hover > td:first-child {
    background-color: lightblue;
}
