.table {
    border-collapse: collapse;
    width: 500px;
}

.table th {
    border: 3px solid rgb(0, 0, 0);
    padding: 1px 10px;
    background-color: rgb(226, 239, 218);
}

.table td {
    border: 1px solid #000308;
    padding: 1px 10px;
}